body{
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh; /* Set the height to 100% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #16dcd6, #03438c); /* Adjust the colors as needed */
    transition: background 1s ease; /* Set the transition duration and timing function */
  }
  h1{
    color: #ffffff;
  }
  img{
   padding-left: 40%;
   top: 20px;
   right: 20px;
  }
 .btn{
    margin-left: 31%; 
 }
 .btn1{
  position: relative;
    margin-right: 25%;
    border-radius: 5px;
    height: 25px;
    width: 45px;
   box-shadow: 2px  3px  0px black;
   background-color: #eb6eca;
 }
 .btn1:hover{
  box-shadow: 4px 3px 0px black;
  height: 27px;
  width: 45px;
 }
 .btn2{
  position: relative;
  left: 0;
  transition:  0.5s ease;
   border-radius: 5px; 
   height: 25px;
   width: 45px;
   box-shadow: 2px  3px  0px rgb(0, 6, 92);
   background-color: #da6b9f;
 }
 .hidden{
  display: none;
 }